@{
    ViewBag.Title = "Home Page";
}

@section header{
    
<link href="~/Content/typeahead.css" rel="stylesheet" />
}

<div class="row">
    <div id="remote" class="col-md-10 well">
        Value: <input type="text" name="text" id="text" placeholder="text" class="text typeahead"/> <br/>
        Name: <input type="text" name="Name" id="Name" disabled="disabled" />
    </div>
        

</div>

@section scripts
{
    
    <script src="~/Scripts/typeahead.bundle.js"></script>

    <script type="text/javascript">
        $(function() {
            var bestPictures = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Number'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: '/Home/testdata?query=%QUERY',

            });

            bestPictures.initialize();

            $('#remote .typeahead').typeahead({
                minLength: 1
            }, {
                name: 'best-pictures',
                displayKey: 'Number',
                source: bestPictures.ttAdapter()
            });

            $('#remote .typeahead').on('typeahead:selected', function(event, suggestion, datasetName) {
                console.log(suggestion);
               // $('#Name').val(suggestion.Name);
            });
        });
    </script>

}
